.header {
  padding: 21px 0;
  background: #000;
  background: var(--D1-L1);
  border-bottom: 1px solid #14131c;
  border-bottom: 1px solid var(--D5-L5);
}

.header_row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.header_logo {
  margin-right: 75px;
}

.nav_icon {
  width: 22px;
  padding: 0;
  background: transparent;
  height: 18px;
  position: relative;
  z-index: 22;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: 0;
  line-height: normal;
}

@media (min-width: 992px) {
  .Header_nav_icon {
    display: none;
  }
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  outline: 0;
}

nav {
  display: block;
}

.header__nav__list {
  display: -webkit-flex;
  display: flex;
}

.header__nav__link {
  padding: 10px 0;
  margin: 0 17px;
  font-size: 16px;
  font-size: var(--font-size-body2);
  color: #676675;
  color: var(--D6-L6);
  font-weight: 600;
  position: relative;
}

.header__nav__link_active {
  position: relative;
  color: #fff;
  color: var(--D7-L7);
  border-bottom: 2px solid #676675;
  border-bottom: 2px solid var(--D6-L6);
  font-weight: 600;
}

.header__nav__link__item {
  padding: 10px 0;
  margin: 0 17px;
  font-size: 16px;
  font-size: var(--font-size-body2);
  color: #676675;
  color: var(--D6-L6);
  font-weight: 600;
  position: relative;
}

.header__nav__link__item_active {
  position: relative;
  color: #fff;
  color: var(--D7-L7);
  border-bottom: 2px solid #676675;
  border-bottom: 2px solid var(--D6-L6);
  font-weight: 600;
}

.header__userBar {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
}

.UserBar_userBar,
.UserBar_userBar__button {
  display: -webkit-flex;
  display: flex;
}

i[class*=' icon-']:before,
i[class^='icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: 400 !important;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  display: -webkit-inline-flex;
  display: inline-flex;
}

.icon_account:before {
  content: '\f101';
}

.icon_settings:before {
  content: '\f115';
}

.icon_more:before {
  content: '\f113';
}

.UserBar_userBar__icon {
  font-size: 32px;
  color: #676675;
  color: var(--D6-L6);
}

.Wallet_wallet__btn {
  margin-left: 10px;
}

.Wallet_wallet__btn span {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.nav_icon {
  width: 22px;
  padding: 0;
  background: transparent;
  height: 18px;
  position: relative;
  z-index: 22;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: 0;
  line-height: normal;
}

@media (min-width: 992px) {
    .nav_icon {
        display: none;
    }
}

/* .positions {
    position: relative;
    margin-right: 5px;
} */

